@import url(./fonts.css);
@import url(./media.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%),
    linear-gradient(0deg, #CF0063, #CF0063);
    color: white;
    height: 110vh;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
.header__nav-list {
    display: flex;
    gap: 30px;
}
.header__nav-list-item {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}
.header__main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 60px;
}
.header__desc {
    position: absolute;
    top: 169px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
}
.header__desc-h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
}
.header__desc-p {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    margin-top: 10px;
}
.header__main-image-img {
    position: absolute;
    top: 0;
    left: 600px;
}
.header__desc-btn {
    background: #FC0A7E;
    border: none;
    outline: none;
    padding: 20px 40px;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}
.device {
    background: #1B1B1B;
}
.device__desc{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0 55px 0;
}
.device__desc-p {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #A8A8A8;
}
.device__desc-h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    color: white;
}
.device-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.interface__wrap {
    display: flex;
    flex-direction: column;
    gap: 160px;
    margin: 80px 0 160px 0;
}
.interface__item1 {
    display: flex;
    gap: 195px;
    justify-content: center;
}
.interface__item1-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.interface__item1-p1 {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #A8A8A8;
}
.interface__item1-h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    padding: 30px 0 22px 0;
}
.interface__item1-p2 {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
} 
.interface__item2-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.interface__item2-p1 {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #A8A8A8;
}
.interface__item2-h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    padding: 30px 0 22px 0;
}
.interface__item2-p2 {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
}
.interface__item2 {
    display: flex;
    justify-content: center;
    gap: 144px;
}
.advantages__wrap {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advantages-item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}
.advantages-item-image {
    display: flex;
    justify-content: center;
}
.advantages-item-h {
    font-family: 'GothicA1-Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 40px 0 17px 0;
}
.advantages-item-p {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 371px;
    color: #6B6B6B;
}

.info {
    margin: 80px;
}
.info__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}
.info__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
}
.info__card-h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 59px;
    font-weight: 400;
    line-height: 90px;
}
.info__card-p {
    font-family: 'GothicA1-Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.food {
    margin: 80px 0;
}
.food__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
}
.food__card {
    display: flex;
    gap: 80px;
}
.food__card-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.food__card-gp {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #A8A8A8;
}
.food__card-h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
}
.food__card-p {
    width: 330px;
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
}
.food__card-p span {
    font-family: 'GothicA1-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 1px solid #6B6B6B;;
}
.quotes__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quotes__quote {
    width: 58px;
    height: 48px;
    margin: 80px 0 65px 0;;
}
.quotes-p {
    width: 700px;
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px; 
    color: #6B6B6B; 
    text-align: center;    
}
.quotes__auth {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 17px 0 58px 0;
}
.quotes__auth-p {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
}
.quotes__auth-h {
    font-family: 'GothicA1-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;       
}
.quotes__auth-line {
    width: 30px;
    height: 1px;
    background: #D3D3D3;
}
.quotes__points {
    display: flex;
    gap: 16px;
}
.quotes__points-bl {
    height: 7px;
    width: 7px;
    background: #222222;
}
.quotes__points-gr {
    height: 7px;
    width: 7px;
    background: rgba(34, 34, 34, 0.4);
}
.quotes__auth-img {
    margin: 140px 0 180px 0;
}
.quotes__img {
   width: 100%;
   display: flex;
}
.start {
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%),
    linear-gradient(0deg, #CF0063, #CF0063);
    height: 50vh;
    width: 100%;
}
.start__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.start__h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;      
    color: white;
}
.start__btns {
    display: flex;
    gap: 10px;
}
.start__btns__btn {
    border: 1px solid #B04BB3;
    padding: 20px 40px;
    color: white;
    border-radius: 3px;
    transition: 0.3s;
}
.start__btns__btn:hover {
    background: #FC0A7E;
    border: 0;
}
.updates {
    height: 50vh;
    width: 100%;
    background: #1B1B1B;
}
.updates__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.updates-h {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    color: white;
}
.updates-p {
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
    margin: 20px 0 40px;
}
.updates__form {
    display: flex;
}
.updates__form-input {
    width: 311px;
    height: 70px;
    padding-left: 15px;
    outline: none;
    font-family: 'GothicA1-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.updates__form-input::placeholder{
    color: #1C1C1C;
}
.updates__form-btn {
    border: 0;
    outline: 0;
    width: 154px;
    height: 70px;
    background: #FC0A7E;
    color: #1C1C1C;
    border-radius: 0px 3px 3px 0px;
}
.footer {
    background: #1B1B1B;
}
.footer__wrap {
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0 70px 0;
}
.footer__logo{
    width: 136px;
    height: 104px;
}
.footer__list {
    display: flex;
    gap: 30px;
}
.footer__list-item {
    font-family: Gothic A1;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    color: #6B6B6B;
}